:root {
    /* black__pearl__theme */
    --text-color-primary: #ffffff;
    --text-color-secondary: #023047;
    --background-color-fill: #8ecae6;

    --button-color-primary: #023047;
    --button-color-primary-hover: #15667a;

    --button-color-secondary: #d9e7ff;
    --button-color-secondary-hover: #a5b2cd;
    --button-color-secondary-border: #023047;
}

.black__pearl__theme {
    --text-color-primary: #ffffff;
    --text-color-secondary: #023047;
    --background-color-fill: #8ecae6;

    --button-color-primary: #023047;
    --button-color-primary-hover: #15667a;

    --button-color-secondary: #d9e7ff;
    --button-color-secondary-hover: #a5b2cd;
    --button-color-secondary-border: #023047;
}

.midnight__theme {
    --text-color-primary: #ffffff;
    --text-color-secondary: #0d1b2a;
    --background-color-fill: #778da9;

    --button-color-primary: #0d1b2a;
    --button-color-primary-hover: #1b263b;

    --button-color-secondary: #e0e1dd;
    --button-color-secondary-hover: #aab0bb;
    --button-color-secondary-border: #0d1b2a;
}

.te__papa__green__theme {
    --text-color-primary: #ffffff;
    --text-color-secondary: #344e41;
    --background-color-fill: #a3b18a;

    --button-color-primary: #344e41;
    --button-color-primary-hover: #3a5a40;

    --button-color-secondary: #dad7cd;
    --button-color-secondary-hover: rgb(144, 148, 156);
    --button-color-secondary-border: #344e41;
}

.card__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 30px;
    gap: 20px;
    height: 100vh;
}

.card {
    max-width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--background-color-fill);
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

button {
    width: 100px;
    height: 30px;
    border-radius: 3px;
}

.button__primary {
    background-color: var(--button-color-primary);
    color: var(--text-color-primary);
    cursor: pointer;
}

.button__primary:hover {
    background-color: var(--button-color-primary-hover);
}

.button__secondary {
    background-color: var(--button-color-secondary);
    color: var(--text-color-secondary);
    border: 2px solid var(--button-color-secondary-border);
    cursor: pointer;
}

.button__secondary:hover {
    background-color: var(--button-color-secondary-hover);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}